/****** Script for SelectTopNRows command from SSMS  ******/
  SELECT COUNT (DISTINCT ARTIKEL_ID)       
  FROM [STAGING DE].[DWData].[ARTIKELUMSATZ]
  WHERE DATUM >= '2019.01.01' AND UMSATZNETTO <> 0
  AND ARTIKEL_ID IS NOT NULL
  -- WHERE HERSTELLERARTIKELNR = 'MDDR3-1GB, 870LM00097'
  -- ORDER BY DATUM DESC
  -- WHERE ARTIKELNR LIKE '%1%'