/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [BESTELLPOSITION_ID]
      ,[BESTELLUNG_ID]
      ,[LIEFERANTENARTIKEL_ID]
      ,[MENGE]
      ,[PREIS]
      ,[LIZENZDATEN]
      ,[KUNDENEMAIL]
      ,[LIZENZDATEN_ADRESSE]
      ,[LIZENZDATEN_SOUND]
      ,[LIZENZDATEN_EMAIL]
  FROM [STAGING DE].[DWData].[BESTELLPOSITION]
  WHERE [BESTELLUNG_ID] = '3382709'