/****** Script for SelectTopNRows command from SSMS  ******/
--SELECT COUNT (ARTIKELUMSATZ_ID) 
SELECT --TOP (1000) 
	  --[ARTIKELUMSATZ_ID]
      --,[ARTIKELNR]
      --,[BEZEICHNUNG]
      --[DATUM]
      [HERSTELLER_ID]
      --,[HERSTELLERARTIKELNR]
      --,[HERSTELLERNAME]
      ,[LIEFERANT_ID]
      --,[LIEFERANTENARTIKEL_ID]
      --,[MENGE]
      ,[PARTNER_ID]
      --,[STUECKPREISNETTO]
      --,[UMSATZNETTO]
      ,[ARTIKEL_ID]
     -- ,[PROVISION]
      --,[AU_HERSTELLER_ID]
      --,[SERVICEPARTNERUMSATZ]
      --,[MARKENNAME]
      --,[CREATED]
      --,[TYP]
	  , SUM (UMSATZNETTO) as UMSATZNETTO
 FROM [STAGING DE].[DWData].[ARTIKELUMSATZ]
 WHERE 
  --DATUM >= '2019.01.01' AND UMSATZNETTO <> 0
 DATUM >= '2019-01-02'
 AND ARTIKEL_ID IS NOT NULL
 AND PARTNER_ID IS NOT NULL
 --AND PARTNER_ID IS NOT 31982
 --and PARTNER_ID = 31982
 -- and MENGE > 1
 -- AND ARTIKELUMSATZ_ID = '3525219'
 --AND ARTIKELNR = '169609'
 -- WHERE HERSTELLERARTIKELNR = 'MDDR3-1GB, 870LM00097'
 --ORDER BY DATUM DESC
 -- WHERE ARTIKELNR LIKE '%1%'
group by
	   [HERSTELLER_ID]      
      ,[LIEFERANT_ID]            
      ,[PARTNER_ID]            
      ,[ARTIKEL_ID]

order by PARTNER_ID