/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [ARTIKEL_ID]
      ,[ARTIKELNR]
      ,[BEZEICHNUNG]
      ,[CREATED]
      ,[LAST_UPDATE]
      ,[EAN_CODE]
      ,[HERSTELLER_ID]
      ,[HERSTELLERARTIKELNR]
      ,[INAKTIV]
      ,[WARENGRUPPE_ID]
      ,[TOP_WG]
      ,[CONTENT_EXISTS]
  FROM [STAGING DE].[DWData].[ARTIKEL]
  WHERE 
  --LAST_UPDATE >= '2019.01.01' AND [INAKTIV]=0 --AND [CONTENT_EXISTS]=1
  --AND ARTIKEL_ID=37297401
  --ARTIKELNR = 'PCS5769252'
  --BEZEICHNUNG LIKE 'Clavister Multi Factor Authentication 25-49 user 12 months'
  HERSTELLERARTIKELNR = 'AL1286100B-DE'
  --BEZEICHNUNG LIKE 'SQL Server 2017%'
  --WHERE [ARTIKELNR]='PCS212552'
  --E65-00271